/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e6f0f7;
    color: #333;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 25px;
    font-size: 26px;
    color: #003366;
    border-bottom: 2px solid #cce5ff;
    padding-bottom: 10px;
}

p {
    font-size: 18px;
    color: #333;
}

strong {
    color: #0056b3;
    font-weight: bold;
}

ul li {
    background-color: #e6f7ff;
    color: #0056b3;
    font-weight: 500;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}
