<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
<div class="container">
    <h2>Введите город и подтвердите возраст</h2>
    <form action="/submitRegistration" method="post">
        <label for="city">Ваш город:</label>
        <input type="text" id="city" name="city" placeholder="Введите ваш город" required>

        <div class="checkbox-group">
            <input type="checkbox" id="age" name="age" required>
            <label for="age">Мне есть 18 лет</label>
        </div>

        <button type="submit">Отправить</button>
    </form>
</div>
</body>
</html>
